body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  background-color: #ee5522;
  background-color: #ee5522;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


.header {
  /* background-image: url(/images/bg.jfif); */
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  text-align: center;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: lightblue;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 80px;
  border: 2px solid transparent;
  padding: 10px;
  transition: 0.3s;
}

.navbar a:hover {
  color: yellow;
  font-size: 30px;
}



.content {
  display: grid;
  place-items: center;
  margin-top: 20 px;
}

.content1{
  display: grid;
  margin-left: 70%;
  position: absolute;
  top: 40%;
  
}

.content2{
  display: grid;
  margin-right: 70%;
  position: absolute;
  top: 40%;
}



.content p {
  color: rgb(8, 6, 6);
  font-size: 24px;
  width: auto;
  font-weight: 700;
  text-align: center;
}

.content bio {
  color: black;
  font-size: 48px;
  padding: 8px;
  font-weight: 300;
}

.content p span {
  margin-left: 50px;
}

.profile_img {
  border-radius: 50%;
}

.quotes {
  border-radius: 50%;
  color: azure;
  font-size: 45px;
  font-weight: 500;
}

.contcontent {
  display: grid;
  place-items: center;
  margin-top: 20 px;
}

.contcontent p {
  color: black;
  font-size: 48px;
  padding: 8px;
  font-weight: 700;
}

.contcontent p span {
  margin-left: 50px;
}

.fblinkContainer {
  height: 100px;
  display: flex;
  align-items: flex-end
  justify-content: space-evenly;


}

.ilinkContainer {
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #36d13e;
}

.content f{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.footer{
  position: fixed ;
  bottom: 0%;
  padding: 10px;
  width: 100%;
  height: 10px;
  text-align: center;
  font-size: 18px;
  background-color: #36d13e;
}
